/** Width between 1200x to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

 @media (min-width: 1200px) {

}

/** Width between 992px to 1199px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (min-width: 992px) and (max-width: 1199px) {
  
}

/** Width between 768px to 991px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (min-width: 768px) and (max-width: 991px) {
  /* Navbar */
  nav {
    padding: 10px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* About */
  

  /* Contact */
  .contact-contact {
    /* margin-bottom: 30px; */
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 767px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 767px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* About */
  

  /* Contact */
  .contact-contact {
    /* margin-bottom: 30px; */
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 600px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 600px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* About */
  
  
  /* Contact */
  .contact-contact {
    /* margin-bottom: 30px; */
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 480px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 480px) {
  /* Navbar */
  nav {
    padding: 15px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* About */

  .abt-heading {
    text-align: center;
    font-size: 3rem;
    line-height: 2rem;
    margin-top: 2rem;
    color: black;
    font-family: 'Oswald', sans-serif;
}
  .abt-heading2 {
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 2rem;
    color: black;
    font-family: 'Oswald', sans-serif;
  }
  .abt-text {
    width: 100%;
    align-items: center;
    text-align: justify;
    color: #333333;
    padding: 20px 15px;
}
  .abt-text-content {
    font-size: 14px;
    align-items: center;
    text-align: justify;
    line-height: 1rem;
    color: #333;
    margin: 0px;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    line-height: 1.75rem;
    font-size: 1.2rem;
    width: 100%;
    padding: 20px 20px;
    
  }
  
  /* timeline */
  .timeline_temp{
    /* opacity:0.8; */
    /* background-color:#ccc; */
    /* position:fixed; */
    height: 100%;
    font-size: 20px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
     
  }
  .timeline-bg1 {
    background-color: black;
    font-size: 20px;
    /* width: 100vw;  */
    /* height: 50rem; */
  }
  .reg-heading {
    color: yellow;
    padding-left: 0;
    padding-top: 2rem;
    text-align: center;
  }
  .reg-text {
    padding-left: 0;
    color: white;
    text-align: center;
  }
  .reg-image {
    padding-top: 0;
  }

  .timeline-bg2 {
    background-color: gold;
    /* height: 37rem; */
  }
  .mentorship-heading {
    color: black;
    text-align: center;
    padding-top: 2rem;
  }
  .mentorship-text {
    color:white;
    text-align: center;
    padding-right: 0;
  }
  .mentorship-image {
    padding-top: 4rem;
  }

  .timeline-bg3 {
    background-color: black;
    /* height: 37rem; */
  }
  .coalescence-heading {
    color: yellow;
    padding-left: 0;
    padding-top: 2rem;
    text-align: center;
  }

  .timeline-bg4 {
    background-color: gold;
    /* height: 40rem; */
  }
  .pitch-heading {
    color: black;
    text-align: center;
    padding-top: 2rem;
  }

  /* Speaker */
  .speaker-heading {
    text-align: center;
    font-size: 2.5rem;
    line-height: 2rem;
    margin-top: 2rem;
    color: black;
    font-family: "Oswald", sans-serif;
  }
  .speaker_text {
    margin-bottom: 2rem;
  }

  /* Contact */
  


  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0px;
    margin-left: 0px;
    float: none;
    display: inline-block;
  }
}

/** Width between 320px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 320px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* About */

  
  /* Contact */
  .contact-contact {
    /* margin-bottom: 30px; */
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
  /* Single page */
  .entry-comments-body span {
    display: inline-block;
    margin-right: 0;
  }
}